body { 
  display: grid;
  grid-template-columns: 1fr;
  background: #274b74;
}

.hidden { display: none; }

.btn {
  font-size: 1rem;
  padding: .5rem;
  min-width: 150px;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  vertical-align: middle;
}

img {
  width: 100%;
  min-width: 350px;
  max-width: 450px;
  padding: 0 1rem;

}

.center {
  text-align: center;
  padding: .5rem;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: .5rem;
  justify-items: center;
}

.col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: .5rem;
}

.highlight { color: #ffd700; }

.choice-container {
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  border: 0.1rem solid #ffffff;
  background: #274b74;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem .7rem 0 #ffffff;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.hotpink {
  color: hotpink;
}

main {
  margin-top: .5rem;
  display: grid;
  grid-template-columns: 1fr;
}

#bonus-text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

ul li, ol li {
  font-size: 1rem;
  margin-left: 1rem;
  line-height: 1rem;
  list-style: none;
}


.select-game {
  padding: .5rem;
}

.select-game form select {
  font-weight: bold;
  background:#274b74;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  text-align: center;
}

.select-game form select option {
  font-size: .75rem;
  line-height: .5rem;
  color: #ffffff;
  background: #274b74;
}

.question { 
  display: grid;
  padding: .5rem;
  grid-template-columns: 1fr;
  font-size: 1rem; 
  color: #ffffff;
}

.correct {
  background: #28a745;
  color: #ffffff;
}

.incorrect {
  background: #dc3545;
  color: #ffffff;
}

#explanation, #explanation ul li, #explanation ol li {
  font-size: 1rem;
  color: yellow;
  list-style: circle;
  padding: .25rem;
}

/* HUD */

.hud {
  display: grid;
  grid-template-columns: 1fr;
}

.hud-prefix {
  text-align: center;
  font-size: 1.2rem;
  color: #ffd700;
}

.hud-main-text {
  text-align: center;
  padding: 1rem;
  color: #ffd700;
}

#progressBar {
  border: 0.3rem solid #ffd700;
}

#progressBarFull {
  height: 2rem;
  background: #ffd700;
  width: 0%;
  padding: 1rem 0;
}

/* LOADER */

#loader {
  border: 1.6rem solid #ffd700;
  border-radius: 50%;
  border-top: 1.6rem solid #274b74;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

.choice-prefix {
  font-size: 1.2rem;
  background: #ffffff;
  color: #274b74;
  text-align: center;
  padding: 2rem 1rem;
  margin:.2rem;
  vertical-align: middle;
}

.choice-text {
  padding: 1rem;
  margin: auto;
  color: #f8f5ca;
  font-size: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 30rem) {
  
  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } 
  
  .hud {
    grid-template-columns: 2fr 4fr 1fr;
  }

  .col {
    grid-template-columns: 1fr;
  }
}